name: Go
on:
  push:
    branches: [ main ]

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.22'
          cache: false
      - run: |
          make .install.golangci-lint
          make lint

  unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.22'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        export GOBIN=$(pwd)/bin/
        make .install.ginkgo

    - name: Generate coverage report
      run: |
        export GOBIN=$(pwd)/bin/
        make test-unit

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: .coverage/coverprofile
        name: codecov-umbrella
        fail_ci_if_error: true
        slug: navidys/tvxwidgets
        token: ${{ secrets.CODECOV_TOKEN }}
